{% comment %} Placeholder to allow defining custom head, in principle, you can
add anything here, e.g. favicons: 1. Head over to
https://realfavicongenerator.net/ to add your own favicons. 2. Customize default
_includes/custom-head.html in your source directory and insert the given code
snippet. {% endcomment %}

<meta property="og:type" content="website" />
<meta property="og:image" content="https://createurstech.fr/banner.png" />
<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="assets/images/favicon/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="assets/images/favicon/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="assets/images/favicon/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="assets/images/favicon/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="assets/images/favicon/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="assets/images/favicon/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="assets/images/favicon/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="assets/images/favicon/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="assets/images/favicon/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="assets/images/favicon/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="assets/images/favicon/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="assets/images/favicon/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="assets/images/favicon/favicon-16x16.png"
/>
<link rel="manifest" href="assets/images/favicon/manifest.json" />
