<header class="site-header">
  <div id="header-top-part">
      <img id="header-logo" src="assets/images/logo.png"/>
      <a title="Ouvrir le GitHub" id="github-button" target="blank" href="https://github.com/anisayari/createurstech.fr">GitHub <span id="github-arrow">↗</span></a>
  </div>
  <h2 id="big-title">Site de référencement des <span id="big-title-colored">créateurs de contenus tech</span></h2>
  <span id="add-creator">Pour ajouter un·e créateur·trice, rendez-vous sur le <a title="Ouvrir le GitHub" id="add-creator-link" target="blank" href="https://github.com/anisayari/createurstech.fr">GitHub du projet.</a></span>
  <div>
    <img draggable="false" id="ytb-icon1" class="icon-background" src="/assets/images/youtube-logo.svg">
    <img draggable="false" id="ytb-icon2" class="icon-background" src="/assets/images/youtube-logo.svg">
    <img draggable="false" id="ytb-icon3" class="icon-background" src="/assets/images/youtube-logo.svg">
    <img draggable="false" id="twitch-icon1" class="icon-background" src="/assets/images/twitch-logo.svg">
    <img draggable="false" id="twitch-icon2" class="icon-background" src="/assets/images/twitch-logo.svg">
  </div>
</header>
