<header class="Header">
  <h1 class="Header__title">
    Site de référencement des <span class="Header__title--colored">créateurs de contenus tech</span>
  </h1>
  <p class="Header__description">
    Pour ajouter un  créateur ou une créatrice, rendez-vous sur le <a title="Ouvrir le GitHub" id="add-creator-link" target="blank" href="https://github.com/anisayari/createurstech.fr">GitHub du projet.</a>
  </p>
  <div class="Header__logoContainer">
    <img class="Header__logo" src="assets/images/logo.png" alt="Créateurs tech"/>
    <a aria-label="Ouvrir le GitHub" class="GithubLink" rel="noopener" target="blank" href="https://github.com/anisayari/createurstech.fr">GitHub <span id="github-arrow"></span></a>
  </div>
  <div class="Header__icons" aria-hidden="true">
    <img draggable="false" class="Header__icon Header__icon--ytb-icon1" src="/assets/images/youtube-logo.svg">
    <img draggable="false" class="Header__icon Header__icon--ytb-icon2" src="/assets/images/youtube-logo.svg">
    <img draggable="false" class="Header__icon Header__icon--ytb-icon3" src="/assets/images/youtube-logo.svg">
    <img draggable="false" class="Header__icon Header__icon--twitch-icon1" src="/assets/images/twitch-logo.svg">
    <img draggable="false" class="Header__icon Header__icon--twitch-icon2" src="/assets/images/twitch-logo.svg">
  </div>
</header>
