<header class="site-header">
    <h1 class="big-title">Site de référencement des <span class="big-title-colored">créateurs de contenus tech</span></h1>
    <p class="add-creator">Pour ajouter un·e créateur·trice, rendez-vous sur le <a title="Ouvrir le GitHub" class="add-creator-link" rel="noopener" target="blank" href="https://github.com/anisayari/createurstech.fr">GitHub du projet.</a></p>
  <div class="header-top-part">
    <img class="header-logo" src="assets/images/logo.png" alt="Logo Créateurs tech"/>
    <a title="Ouvrir le GitHub" class="github-button" rel="noopener" target="blank"
       href="https://github.com/anisayari/createurstech.fr">GitHub <span class="github-arrow">↗</span></a>
  </div>
  <div>
    <img draggable="false" class="icon-background ytb-icon1" src="/assets/images/youtube-logo.svg" alt="">
    <img draggable="false" class="icon-background ytb-icon2" src="/assets/images/youtube-logo.svg" alt="">
    <img draggable="false" class="icon-background ytb-icon3" src="/assets/images/youtube-logo.svg" alt="">
    <img draggable="false" class="icon-background twitch-icon1" src="/assets/images/twitch-logo.svg" alt="">
    <img draggable="false" class="icon-background twitch-icon2" src="/assets/images/twitch-logo.svg" alt="">
  </div>
</header>
