/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

/**
 * Images
 */
img {
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Links
 */
a {
  //text-decoration: none;
  //
  //&:visited {
  //  text-decoration: none;
  //}
  //
  //&:hover {
  //  text-decoration: underline;
  //}

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}

/*
Custom Call To Action
 */
.CallToAction {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: .5em .8em .4em;
  color: var(--color, white);
  font-size: 1rem;
  letter-spacing: -0.03em;
  text-decoration: none;
  background: var(--background, transparent);
  border: none;
  border-radius: 50px;
  box-shadow: 0 0 0 1px var(--background, currentColor);
  outline: none;
  transition: all .4s ease;

  &:focus,
  &:hover {
    z-index: 1;
    box-shadow: 0 0 0 .25em currentColor;
  }
}

