/*
  Titles (idk where to put that)
*/
h2 {
  font-size: 1.7em;
  margin: 1em 0 .5em 0;
}

/*
  Cards
*/
.Grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
}

.Grid__sizer {
  align-self: flex-start;
  @media all and (max-width: 768px) {
    width: 50%;
  }
  @media all and (min-width: 768px) {
    width: 25%;
  }
}

.Card {
  position: relative;
  display: grid;
  grid-row-gap: .75rem;
  grid-template-rows: min-content 1fr min-content;
  width: 48%;
  height: 250px;
  margin: $card-space;
  padding: .7rem;
  backdrop-filter: blur(53px);
  background: $card-background-gradient;
  border-radius: 1.25rem;

  @media all and (min-width: 768px) {
    width: 23%;
    height: 340px;
    padding: $card-padding;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__profileImage {
    display: block;
    height: $profil-image-size;
    width: $profil-image-size;
    border: rgb(204, 0, 255) solid 3px;
    border-radius: 50%;
  }

  &__name {
    align-self: center;
    padding-left: 0.35rem;
    font-weight: bold;
    font-size: $card-name-size;
    align-items: center;
    align-content: center;
    overflow-wrap: anywhere;
  }

  &__description {
    overflow: auto;
    overflow-wrap: break-word;
    font-size: 0.8rem;
    line-height: 1.3;
  }
}

.SocialNetworks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: .5rem .25rem;
  align-items: baseline;

  .Network {
    font-size: .75rem;
    gap: .5em;

    img {
      transform: translateY(0.15em);
      width: 1em;
      height: auto;
    }

    &--youtube {
      --background: #C4302B;
    }

    &--twitch {
      --background: #6441A5;
    }

    &--twitter {
      --background: #1DA1F2;
    }
  }
}

/*
.fold{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show
  -webkit-box-orient: vertical;
}
.unfold{
}
.read-more{
  text-decoration: underline;
  cursor: pointer;
}*/

label[for="search"] {
  font-size: 1.5rem;
  font-weight: 700;
}

//Vote

/*
  Not used yet ? TODO upvote
 */
//.votes-container {
//  margin-top: 2rem;
//  display: flex;
//}
//
//.votes-container > * {
//  display: inline;
//}
//
//.votes-count {
//  color: white;
//  font-weight: 400;
//  width: 60%;
//}
//
//.thumb {
//  border-radius: 100%;
//  padding: .45em;
//  width: 5pc;
//  height: 5pc;
//  margin: .75rem;
//  cursor: pointer;
//}
//
//.thumb[vote=true] {
//  background: $gradient;
//
//}
//
//.thumb[vote=false] {
//  border: $gradient solid 3px;
//}
//
//.thumb > .down {
//  transform: rotate(180deg);
//}


/*
Buttons
*/
.button_tags {
  font-family: "Poppins", sans-serif;
  background: transparent;
  color: white !important;
  border:none !important;
  margin: 2px;
  cursor: pointer;
  border-radius: 700px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.5em 1.5em;
  position: relative;

  &::before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0; right: 0;
    width: 100%; height: 100%;
    border-radius: 700px;
    background: linear-gradient(#B848AC, #DE3765);
    opacity: 0;
    transition: opacity .7s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:hover::before {
    opacity: 1;
  }
}

.button:active,
.button.is-checked {
  font-weight: 600;
  &::before { opacity: 1; }
}

.button-group {
  margin-bottom: 10px;
}

.SocialNetworks .CallToAction:not(:last-of-type) {
  margin-right: .5em;
}

/*
Scrollbar
*/

*::-webkit-scrollbar {
  background: #C4C4C44A;
  border-radius: 22px;
  width: 7px;
}

*::-webkit-scrollbar-thumb {
  background: $gradient;
  border-radius: 22px;
}

/*
Search
*/

.filters {
  text-align: center;
}

.filter-container {
  background: $card-background-gradient;
  height: 5rem;
  border-radius: 22px;
  display: flexbox;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  text-align: center;
  margin: 1em;
}

.search-bar {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
    height: 3px;
    background: $gradient;
  }

  .search-icon {
    position: absolute;
    left: .75em;
    top: 50%;
    transform: translate3d(0, -50%, 0);
  }
}

input[type=search] {
  height: 2rem;
  color: #F8F8F8;
  background: none;
  font-size: 18px;
  border: none;
  padding-left: 2.5em;
  position: relative;

  &:focus, &:active {
    outline: none;
  }

  &::placeholder {
    text-align: left;
    color: $light-grey;
    font-size: 13px;
    font-style: italic;
  }
}

/*
Display a random creator
*/
#diplayed-card {
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 40ch;
  height: auto;
  max-height: min(80vh, 25rem);
  margin: 0;
  transform-origin: center!important;
  animation: pop-in .3s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

#display-card-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  padding: 2rem 1.5rem;

  &::before {
    position: absolute;;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: black;
    backdrop-filter: blur(53px);
    content: '';
    opacity: 0.85;
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

@keyframes pop-in {
  from {
    transform: scale3d(0, 0, 0) translate3d(-50%, -50%, 0);
  }
  to {
    transform: scale3d(1, 1, 1) translate3d(-50%, -50%, 0);
  }
}