---
---
@import "main";

body{
  background-color: #222222;
  color: white;
}

a.site-title{
  background-color: #222222;
  color: white !important;

  text-decoration: none;
  padding:5px;
  margin: 5px;
}

a.site-title:hover{
  box-shadow: 0 0 5px #906dde , 0 0 5px #906dde inset;
}

$card-spacer-x:            1.25rem;
$card-spacer-y:            .75rem;
$card-border-width:        .0625rem;
$card-border-color: #bfbfbf;
$card-padding: .7rem;


.title *{
  display: inline;
}
.card {
  width: 100%;
  color: black;
  position: initial !important;

  border: $card-border-width solid $card-border-color;
  border-radius : .5rem;
  background-color:white;
  margin-bottom: $card-spacer-y;
  padding : $card-padding;
}

.button-youtube{
  color: #FF0000;
}

.button-twitch{
  color: #6441a5;
}

.rounded {
    clip-path: circle();
}
.button:active,
.button.is-checked {
  background: linear-gradient(#B848AC,#DE3765);
  border-color: #DE3765 !important;
  color: #fff !important;
}

.button_tags:hover {
  color: #ffffff !important;
  background: linear-gradient(#B848AC,#DE3765);
  border-color: #DE3765 !important;
  transition: all 0.4s ease 0s;
}

.button_tags {
  color:white !important;
  margin:2px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #ffffff !important;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.button#readBtn{
  color:black ;
  margin:2px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;
  padding: 5px;
  cursor: pointer;
  border: 1px solid black ;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.button#readBtn:hover , .button#readBtn[valeur=true] {
  color: #ffffff !important;
  background: linear-gradient(#B848AC,#DE3765);
  border-color: #DE3765 !important;
  transition: all 0.4s ease 0s;
}

.card[valeur=true] > p{
  max-height: none !important;
  overflow-y:visible;
}

.card > p {
  overflow-y:hidden;
  max-height: 70px;

  margin-top: 10px;

  border-top:transparent ;
  border-bottom:transparent ;
}

body::-webkit-scrollbar{
  width: 15px;
  background: #826DB5;
}

*::-webkit-scrollbar{
  width: 7px;
  background-color: #eeeeee;
}
*::-webkit-scrollbar-thumb{
  border-radius: 3px;

  width: 7px;
  background-color: #d8d8d8;
}

.button-group{
  margin-bottom: 10px;
}

.global_name{
  font-weight: bold;
  font-size: large;
}

.grid{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}


input[type="text"] {
  font-size: 20px;
  color:black;
}